<div class="master-data-content">
  <div class="master-data-button">
    <button mat-raised-button color="primary" (click)="edit('')">
      <mat-icon>add_circle</mat-icon> Novo
    </button>
  </div>

  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Nome" aria-label="Nome" [formControl]="nameFilter">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>
        <table mat-table class="full-width-table" [dataSource]="dataSource" matSort matSortActive="name"
          matSortDirection="asc" aria-label="Elements">
          <!-- Name Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <a mat-icon-button matTooltip="Edit" (click)="edit(row._links.self.href)">
                <mat-icon>edit</mat-icon>
              </a>
              <button mat-icon-button matTooltip="Delete" (click)="delete(row._links.self.href)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef=" displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>

        <mat-paginator #paginator [length]="pageLength" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]">
        </mat-paginator>
      </div>


    </mat-card-content>
  </mat-card>
