#user-form .mat-form-field-prefix {
    margin-right: 10px;
}

#user-form .mat-form-field-suffix {
    margin-left: 10px;
}


.profile-user-img {
   width: "30%";
  height: "30%";
    border-radius: 50%!important;
}
