html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.margin-top {
  margin-top: 16px;
}

.horizontal-padding {
  margin-left: 16px;
  margin-right: 16px;
}

.flex-spacer {
  flex: 1 1 auto;
}
  .margin-top {
    margin-top: 16px;
  }

  .page-content {
  margin: 20px auto;
  padding: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vw;
}

.mat-list-item-content > mat-icon {
  padding-left: 5px;
}

.mat-list-item-content > span {
  padding-left: 10px;
}


.master-data-content{
  padding: 10px;
}

.master-data-content .master-data-button{
  margin-top: 10px;
  margin-bottom: 15px;
}

.master-data-content .master-data-button > button{
  margin-right: 10px;
}


.mat-table {
  width: 100%;
}
